<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <meta name="description" content="{{meta_description}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
</body>
</html>