{{!< default}}

<div class="wrapper">
	<header class="header">
		<div class="logo"{{#if @blog.cover}} style="background-image: url({{@blog.cover}});"{{/if}}>
			<h1>
				<a href="{{@blog.url}}">{{@blog.title}}</a>
			</h1>	

			<div class="blog-description">
				<div class="through-line">{{@blog.description}}</div>		
			</div>
		</div>
	</header>

	<section class="articles">
		{{#foreach posts}}

	    <article class="{{post_class}}">
	        <header class="post-header">
	            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>	            
	            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
	        </header>
	        
	        <section class="post-excerpt">
	            <p>{{excerpt}}&hellip;</p>
	        </section>
	    </article>

	    {{/foreach}}

	    {{pagination}}
	</section>	
	<footer class="footer">
		<section class="social-links">
			<a class="icon-feed" href="http://ghost.org" target="_blank"></a>
			<a class="icon-twitter" href="http://twitter.com/" target="_blank"></a>
			<a class="icon-facebook" href="http://facebook.com/" target="_blank"></a>
		</section>
	</footer>
</div>
<aside class="poweredby">
	<a class="icon-ghost" href="http://ghost.org" title="Proudly published with Ghost" target="_blank"></a>
</aside>